
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|VT323');
@import "../node_modules/bulma/sass/utilities/initial-variables";

$purple: #7b49fc;
$dark: #24292E;

$primary: $purple; // purple ish
$family-primary: "VT323", monospace;


@import "../node_modules/bulma/bulma";
